/*Paleta de colores: https://coolors.co/b8a7a3-d2cbc6-197bbd-125e8a-11272d*/

* {
  background-color: #D2CBC6;
  text-align: center;
  font-family: Jost;
  color: #125e8a;
}

a:link {
  text-decoration: none;
  display: inline-block;
}

.titulo {
  /*background-color: #125e8a;*/
  text-align: center;
  color: #197bbd;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

p{
  font-size: 25px;
}

.contenedor {
  justify-content: center;
  display: flex;
  align-items: center;
}