/*Paleta de colores: https://coolors.co/palette/335c67-fff3b0-e09f3e-9e2a2b-540b0e*/

* {
  background-color: #335c67;
  text-align: center;
  font-family: Jost;
  color: #fff3b0;
}

a:link {
  text-decoration: none;
  display: inline-block;
}

.titulo {
  background-color: #e09f3e;
  text-align: center;
  color: #fff3b0;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

p{
  font-size: 25px;
}