* {
  background-color: #335c67;
  text-align: center;
  font-family: Helvetica;
  color: #fff3b0;
}

a:link {
  text-decoration: none;
}

h1 {
  margin-left: 150px;
  margin-right: 100px;
  background-color: #e09f3e;
}
