body {
  background-color: dodgerblue;
  color: aliceblue;
  font-family: Jost;
}

a {
  margin: 1px;
  text-decoration: none;
  display: inline-block;
  color: aliceblue;
  text-align: left;
}

a:hover {
  color: rgb(177, 219, 255);
  text-align: left;
  cursor: pointer;
}

#titulo {
  background-color: aliceblue;
  color: dodgerblue;
  text-align: center;
  border-radius: 7px;
  margin: 50px;
  padding: 5px;
}

#filtro {
  text-align: center;
  margin-bottom: 35px;
}

.contenedor {
  justify-content: center;
  display: flex;
  align-items: center;
}

.facultades {
  background-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  border-radius: 7px;
  padding-bottom: 25px;
  width: 590px;
  margin-left: auto;
  margin-right: auto; /* Esto asegura que se centre el contenedor */
  padding-left: 40px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 25px;
}

#cursos{
  border-radius: 7px;
  border: none;
  text-align: center;
}

li a {
  display: inline-block; /* Hace que el enlace se comporte como un bloque dentro de línea */
  text-decoration: none; /* Opcional: para quitar el subrayado */
  max-width: 100%; /* Evita desbordamientos */
}

