body {
    margin: 0 auto;
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: #f9d3a7;
    max-width: 1200px;
    min-width: 500px;
    text-align: center;
    font-family: Helvetica;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 500px;
}

svg, img {
    border: 1px solid gray;
}

/* COMPLETAR CON EL CSS ADICIONAL QUE CONSIDERES NECESARIO */
.conexion{
    stroke: rgba(128, 128, 128, 0.5);
}
.conexion:hover {
    stroke:rgba(135, 250, 235, 0.85)
}