body {
  background-color: dodgerblue;
  font-family: Jost;
  color: aliceblue;
}

a:link,
a {
  text-decoration: none;
  display: inline-block;
  color: aliceblue;
  text-align: left;
}

a:hover {
  color: rgb(177, 219, 255);
  text-align: left;
}

#titulo {
  background-color: aliceblue;
  color: dodgerblue;
  text-align: center;
  border-radius: 7px;
  margin: 50px;
  padding: 5px;
}

.contenedor {
  justify-content: center;
    display: flex;
}

.facultades {
  justify-content: flex-start;
  padding: 20px;
  width: 550px;
}
